.feinman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.feinman__link:hover {
  opacity: 0.6;
  transition: background-color 1s linear 2s;
}
