.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

p {
  margin:0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  height: 32px;
  z-index: 1;
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin-left: 64px;
  max-width: 730px;
  width: 100%;
  font-size: 102px;
  font-weight: bolder;
  line-height: 96px;
  z-index: 2;
  align-self: center;
}

.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}

.description {
padding-top: 100px;
padding-bottom: 100px;

}

.two-columns {
width: 80%;
margin-left: 10%;
margin-right: 10%;
display: flex;
justify-content: space-between;
flex-direction: row;
}

.two-columns__brief{
width: 175px;
font-size: 18px;
line-height: 1.2;
font-weight: normal;
color: #2f80ed;
margin: 0;
}

.two-columns__main-text {
width: 80%;
min-width: 784px;
margin-top: 0;
margin-bottom: 0;
line-height: 34px;
font-size: 24px;
font-weight: normal;
}

.two-columns__paragraph {
padding: 0;
margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin: 30px 0 30px 0;
}

.section__title {
width: 60%;
margin-left: 20%;
margin-right: 20%;
margin-bottom: 20px;
margin-top: 0px;
line-height: 69px;
font-size: 60px;
font-weight: bold;
text-align: center;
}

.section__subtitle {
width: 60%;
margin-left: 20%;
margin-right: 20%;
margin-bottom: 0;
line-height: 34px;
font-size: 24px;
font-weight: normal;
text-align: center;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.digits {
  padding-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feinman {
display: flex;
flex-direction: column;
min-height: 790px;
position: relative;
padding-top: 100px;
background-color: #f2f2f2;
}

.feinman__title {
  margin-bottom: 70px;
  margin-top: 0px;
  align-self: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  text-align: center;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: center;
  z-index: 1;
  margin: 0px;
}

.feinman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.feinman__img {
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 867px;
  height:  637px;
  background-image: url(../images/feynman.png);
}

.kaufman {
background-color: #1f1f1f;
padding-top: 90px;
position: relative;
overflow: hidden;
}

.section__title_theme_dark {
  color: #f2f2f2;
  z-index: 1;
}

.section__subtitle_theme_dark {
  color: #f2f2f2;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
}

.footer {
  min-height: 350px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
flex-basis: 711px;
justify-content: space-between;
}

.logo_place_footer {
height: 35px;
margin-top: 0px;
margin-left: 0px;
background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: auto;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.column__heading {
line-height: 30px;
font-size: 18px;
font-weight: bold;
color: #f2f2f2;
margin-top: 0px;
margin-bottom: 0px;
}

.column__link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
}

.column__links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
}

.social__icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

